export FICTITIOUS_USERNAME=""
export FICTITIOUS_PASSWORD=""
export FICTITIOUS_DATABASE=""
export FICTITIOUS_HOSTNAME=""

export FICTITIOUS_USERNAME_TEST=""
export FICTITIOUS_PASSWORD_TEST=""
export FICTITIOUS_DATABASE_TEST=""
export FICTITIOUS_HOSTNAME_TEST=""
